@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

$offwhite: rgb(232, 232, 232);

$shadow-15: rgba(0 0 0 / 15%);
$shadow-40: rgba(0 0 0 / 40%);
$shadow-80: rgba(0 0 0 / 80%);

$accent-950: #431407;
$accent-900: #7c2d12;
$accent-800: #9a3412;
$accent-700: #c2410c;
$accent-600: #ea580c;
$accent-500: #f97316;
$accent-400: #fb923c;
$accent-300: #fdba74;
$accent-200: #fed7aa;
$accent-100: #ffedd5;
$accent-50:  #fff7ed;

$background-950: #0a0a0a;
$background-900: #171717;
$background-800: #262626;
$background-700: #404040;
$background-600: #525252;
$background-500: #737373;
$background-400: #a3a3a3;
$background-300: #d4d4d4;
$background-200: #e5e5e5;
$background-100: #f5f5f5;
$background-50:  #fafafa;

$background-800-45: rgba(38 38 38 /45%);

// Define default styles for each DOM type

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-family: "Source Code Pro", monospace;
}

body{
    background-color: $background-800;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: -0.125rem;
    font-weight: 400;
    color: #fefefe;
}

h2 {
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 400;
    color: #fefefe;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #fefefe;
}

h6 {
    font-weight: 700;
    font-size: 0.75rem;
    color: #fefefe;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: #fefefe;
    margin: 1rem 0 1.25rem 0;
}

// Define class based definitions that are common

.w-50{
    width: 50%;
}

.fixed{
    position: relative;
}

.constrainer{
    display: flex;
    max-width: max(80vw, 900px);
    margin: 1.5rem auto;
}

.flex{
    display: flex;
    align-items: center;

    &.col-2 > * {
        flex-basis: 50%;
    }
}

.badge{
    padding: 0.375rem  0.675rem;
    margin: 0 1.25rem 0 0;
    color: $offwhite;
    background-color: $background-700;   
    font-size: 0.875rem;
    font-weight: 100;
    border-radius: 0.25rem;
    align-items: center;
    text-align: center;
    transition: all 0.25s ease;
    cursor: pointer;

    &:hover{
        background-color: $background-600;
        font-weight: 500;
    }
}

.badge-sm{
    font-size: 0.75rem;
    margin: 0 0.25rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    max-height: 1.5rem;
}

.badge-accent{
    font-weight: 600;
    background-color: $accent-300;
    color: $background-700;
    transition: all 0.25s ease;

    &:hover{
        background-color: $accent-400;
        font-weight: 900;
    }
}

@import 'scrollbar';
@import 'header';
@import 'main';
@import 'portfolio';