* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/*TODO:
    - Less than 810 make navbar go up top and show text by default
*/
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: #1f1f1f;
  height: 100%;
  width: 5em;
  -webkit-transition: width 0.25s cubic-bezier(0.175, 0.685, 0.32, 1);
  transition: width 0.25s cubic-bezier(0.175, 0.685, 0.32, 1);
  overflow-x: hidden;
  overflow-y: auto;
}

nav::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

nav::-webkit-scrollbar {
  width: .5rem;
  background-color: #1f1f1f;
}

nav::-webkit-scrollbar-thumb {
  background-color: aqua;
}

nav:hover {
  width: 15em;
}

nav:hover .small-logo {
  display: none;
}

nav:hover ul li.navbar-logo .wide-logo {
  display: block;
}

nav:hover ul li .navbar-inner .link-text {
  width: calc(100% - 4.5rem);
  opacity: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li.navbar-logo {
  margin: 0 0 2em 0;
  width: 100%;
  height: 5em;
  background-color: #000000;
}

nav ul li.navbar-logo .wide-logo {
  display: none;
}

nav ul li.navbar-logo .navbar-inner:hover {
  -webkit-box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
}

nav ul li.navbar-logo img {
  height: 3em;
}

nav ul li.navbar-item {
  padding: 0 .5em;
  width: 100%;
  cursor: pointer;
}

nav ul li .navbar-inner {
  color: gray;
  padding: 1em 0;
  margin: 0 .5em;
  width: 100%;
  position: relative;
  border-radius: .25em;
  text-decoration: none;
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
  transition: all 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
}

nav ul li .navbar-inner.flexbox-left:hover {
  color: #ffffff;
  background-color: #292929;
  -webkit-box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
}

nav ul li .navbar-inner .navbar-item-inner-icon-wrapper {
  width: calc(4.5rem - 1em);
  position: relative;
}

nav ul li .navbar-inner .navbar-item-inner-icon-wrapper ion-icon {
  position: absolute;
  font-size: 1.4rem;
}

nav ul li .navbar-inner .link-text {
  margin: 0;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.35s cubic-bezier(0.175, 0.685, 0.32, 1);
  transition: all 0.35s cubic-bezier(0.175, 0.685, 0.32, 1);
  overflow: hidden;
  opacity: 0;
}

/*TODO:
    - Less than 1400 make p smaller so text is readable
    - Less than 810 make background larger and move to right
*/
main.home {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(80%, transparent)), url("images/wandsworth.png") no-repeat;
  background: linear-gradient(to right, #fff 50%, transparent 80%), url("images/wandsworth.png") no-repeat;
  background-position: right;
  width: calc(100% - 5rem);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-transition: width 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
  transition: width 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
}

@media screen and (min-height: 1080px) {
  main.home {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(80%, transparent)), url("images/wandsworth@2x.png") no-repeat;
    background: linear-gradient(to right, #fff 50%, transparent 80%), url("images/wandsworth@2x.png") no-repeat;
  }
}

main.home.shrink {
  width: calc(100% - 16rem);
}

main.home h1.main-title {
  padding: 3rem 2rem 1rem;
  font-size: 3.5rem;
}

main.home h4.welcome-message {
  color: #6622cc;
  padding: 1rem 2rem;
}

main.home p.about-me {
  padding: 1rem 2rem;
}

main.home .socials-container {
  padding: 1rem 2rem;
  width: 50%;
}

main.home .socials-container p {
  padding-bottom: 10px;
}

main.home .socials-container a {
  color: #292929;
  margin-right: 1.2rem;
}

main.home .socials-container a ion-icon {
  font-size: 1.8rem;
}

main.project {
  margin-top: .5em;
  width: calc(100% - 5rem);
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition: width 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
  transition: width 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
}

main.project.shrink {
  width: calc(100% - 16rem);
}

main.project .project-container {
  margin: .5em .25em;
  min-height: 450px;
  width: calc((100% - 20em)/4);
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  border-radius: .5em;
  background-color: #1f1f1f;
  color: #e8e8e8;
  text-align: center;
  -webkit-box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
}

main.project .project-container img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
}

main.project .project-container h3 {
  padding: .5rem .1rem;
  font-size: 2em;
}

main.project .project-container p {
  padding: 0 1em;
}

main.project .project-container .project-code-btn {
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  border-radius: .25em;
  color: gray;
  background-color: #1f1f1f;
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
  transition: all 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
}

main.project .project-container .project-code-btn:hover {
  color: #ffffff;
  background-color: #292929;
  -webkit-box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
}

main.project .project-container .project-code-btn .icon-wrapper {
  width: calc(4.5rem - 1em);
  position: relative;
  margin-left: -1.25em;
}

main.project .project-container .project-code-btn .icon-wrapper ion-icon {
  position: absolute;
  font-size: 1.4rem;
}

main.experience {
  margin-top: .5em;
  margin-bottom: 5rem;
  width: calc(100% - 5rem);
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: width 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
  transition: width 0.2s cubic-bezier(0.175, 0.685, 0.32, 1);
}

main.experience.shrink {
  width: calc(100% - 16rem);
}

main.experience .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main.experience .container h2 {
  width: calc(100% - 3.4em);
  margin: 1em 1.7em 0.5em;
}

main.experience .container section {
  text-align: center;
  min-width: 350px;
  margin: .5em .25em;
  padding: 1em;
  background-color: #1f1f1f;
  color: #e8e8e8;
  -webkit-box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 17px 30px -10px rgba(0, 0, 0, 0.25);
  border-radius: .5em;
  width: calc((100% - 18em) / 3);
}

main.experience .container section h4 {
  color: gray;
}

main.experience .container section h5 {
  color: #6622cc;
}

main.experience .container section:first-of-type {
  margin-left: 0;
}

main.experience .skills-container section {
  width: calc(100% - 10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main.experience .skills-container section div.skill-container {
  margin: .5em .25em;
  margin-left: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

main.experience .skills-container section div.skill-container p {
  width: 10rem;
  margin-right: 1rem;
}

main.experience .skills-container section div.skill-container > span {
  width: 10rem;
  margin-left: 1rem;
}

main.experience .skills-container section div.skill-container .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  width: 90%;
  height: 10px;
  border-radius: .5em;
  overflow: hidden;
}

main.experience .skills-container section div.skill-container .bar span {
  content: " ";
  width: 0;
  background-color: #6622cc;
  border-radius: .25em;
}
/*# sourceMappingURL=style.css.map */